<h1>Eat Da Burger!</h1>

<img class="image" src="assets/images/burgerburger.png" alt="A tasty cheeseburger" width= "200" height="200">

<h3>Add a burger you want to eat and then click submit!</h3>

<ul>
  {{#each burgers}}
  	<li>
  	   <p>{{this.burger_name}}</p>
       <p>{{this.devour}}</p>
	   <form action="/api/burgers/:id" method="POST">
			<button class="btns" type="submit">Devour</button>
		</form>

  	</li>
  {{/each}}
</ul>

<form  action="/create" method="POST">
	<textarea class="submitform" type="text" name="burger_name"></textarea>

	<button class="submitform" class="btns" type="submit">Submit</button>
</form>

