<h1>Eat Da Burger!</h1>

<img class="image" src="assets/images/burgerburger.png" alt="A tasty cheeseburger" width= "200" height="200">

<h3>Add a burger you want to eat and then click submit!</h3>

<div class="burgers">
<ul>
  {{#each burgers}}
	{{#unless this.devoured}}
		<li>
		<p>{{this.burger_name}}</p>
		<form action="/devoured/{{this.id}}" method="GET">
				<button class="btns" type="submit">Devour</button>
			</form>

		</li>
	{{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
	{{#if this.devoured }}
  		{{> burgers/burger-block}}
	{{/if}}
  {{/each}}
</ul>

</div>


<form  action="/create" method="POST">
	<textarea class="submitform" type="text" name="burger_name"></textarea>

	<button class="submitform" class="btns" type="submit">Submit</button>
</form>

